<app-header title="Grids - Rows"></app-header>

<ion-content ion-padding fullscreen>

  <ion-grid fixed>
    <ion-row>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"  *ngFor="let c of [1,1,1,1,1,1,1,1,1,1];">
          <ion-card>
            <ion-img src="/assets/shapes.svg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Lorem ipsum dolor sit amet 
              consectetur adipisicing elit.
               A, ipsa unde. Amet, voluptatum. Ipsa quis est perferendis modi numquam error praesentium. Neque, nemo aut eaque exercitationem accusantium dignissimos molestiae unde?
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

  </ion-grid>

</ion-content>